// Content Constraint
@mixin content-constraint($width: $max-width, $padding: 60px, $margin: 100px, $inner-padding: false) {
  @if $margin != 0 {
    margin-bottom: $margin / 2;
    margin-top: $margin / 2;
  }
  padding-left: $padding / 2;
  padding-right: $padding / 2;

  @include from(9) {
    @if $margin != 0 {
      margin-bottom: $margin;
      margin-top: $margin;
    }
  }

  @include from(9) {
    padding-left: $padding;
    padding-right: $padding;
  }

  @include from(12) {
    padding-left: $padding * 2;
    padding-right: $padding * 2;
  }

  &-inner {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: $width;
    @if $inner-padding {
      padding-top: 50px;
      padding-bottom: 50px;

      @include from(7) {
        padding-top: 100px;
        padding-bottom: 100px;
      }
    }
  }
}
