$primarycolors: (
  black: (
    base: #000,
  ),
  gray: (
    base: #1f2833,
    tint1: #c5c6c7
  ),
  white: (
    base: #fff
  ),
  blue: (
    shade1: #459ca2,
    base: #67c4ca
  ),
  purple: (
    base: #3a0342
  ),
  tan: (
    base: #b8856d
  ),
  red: (
    base: #a52f2f
  )
);