$primarycolors: (
  black: (
    base: #000,
  ),
  gray: (
    base: #1f2833,
    tint1: #c5c6c7
  ),
  white: (
    base: #fff
  ),
  blue: (
    shade1: #459ca2,
    base: #3ef2ff
  ),
  red: (
    base: #a52f2f
  )
);