// Links
//
// :hover    - Hover state
// :focus    - Focus state
// :active   - Active state
// :disabled - Disabled state
//
// Markup:
// This is a <a class="{{modifier_class}}" href="#">standard link</a>
//
// Weight: -99
//
// Styleguide Components.Links
a {
  display: inline-block;
  color: $link-color;
  text-decoration: none;
  border-bottom: 1px solid $link-color;
  transition: $ts $te;

  @include hover {
    color: darken($link-color, 10%);
    border-color: transparent;
    outline: 0;

    .bg-highlight {
      background-size: 100% 100%;
    }
  }

  &:disabled,
  &[disabled] {
    opacity: .5;
    pointer-events: none;
  }

  .bg-highlight {
    $color: rgba(primary-color(gray, tint1), .15);
    background-image: linear-gradient(180deg , $color, $color 80%, transparent 80%, transparent);
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: $te $ts;
  }

  &.pill,
  &.button {
    padding: 10px 30px;
    position: relative;
    background: rgba(primary-color(purple), .15);
    color: primary-color(gray);
    display: inline-block;
    text-align: center;
    transition: $te $ts;
    text-decoration: none;
    overflow: hidden;

    &::before {
      content: '';
      @include absolute(0, auto, auto, 0);
      height: calc(100% - 8px);
      width: 0;
      background-color: primary-color(gray);
      transition: $te .15s;
    }

    &::after {
      content: '';
      @include absolute(auto, 0, 0, auto);
      height: calc(100% - 15px);
      width: 0;
      background-color: rgba(primary-color(gray), .8);
      transition: $te .15s .05s;
    }

    span {
      position: relative;
      z-index: 1;
    }

    @include hover {
      color: #fff;

      &::before {
        width: 100%;
      }

      &::after {
        width: 100%;
      }
    }

    &.-white {
      color: #fff;
      background-color: rgba(primary-color(purple), .4);

      &::before {
        background-color: primary-color(white);
      }

      &::after {
        background-color: primary-color(white, tint1);
      }

      @include hover {
        color: primary-color(gray);
      }
    }
  }

  &.pill {
    // border-radius: 6px;
    padding: 2px 8px;
  }
}
